<h2>This is the blog for Ruby on Rails and Data Analysis</h2>
<p>: This is the sample project for data analytics and data engineering.</p>
<br />
<%= link_to "Post", posts_path, class:'btn btn-primary' %>